In [17]:
# print 0 to 20 by using range
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [18]:
# print 10 to 20 by using range
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [25]:
#print number of items in the list by using 'len'
list=[10,20,14,55,43,87,76]
x=len(list)
print("Number of item in the list2:",x)

Number of item in the list2: 7

In [1]:
x="Artificial Intelligence"
for i in x:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [2]:
name=input("-Your Name-")
age=input("-Your Age-")
profession=input("-Your profession-")

-Your Name- Dinesh kumar
-Your Age- 30
-Your profession- AI Enginner

In [3]:
#print this mixered datatype using tuples
tuple=(1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [5]:
tuple1=(0,1,2,3)
tuple2=('python','HOPE')
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [10]:
#print odd numbers in the list
num=(20,10,16,19,25,1,276,188)
for i in num:
    if i%2==1:
        print(i,"is odd")

19 is odd
25 is odd
1 is odd

In [11]:
#print even numbers in the list
num=(20,10,16,19,25,1,276,188)
for i in num:
    if i%2==0:
        print(i,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even